fosslight_util~=2.1.8
fosslight_source~=2.1.0
fosslight_binary~=5.1.0
beautifulsoup4
lxml
numpy
pandas
parmap
psycopg2-binary
python-dateutil
py-tlsh
pytz
six
soupsieve
tqdm
urlopen
XlsxWriter
PyYAML
